<div class="primary-container">
    <div class="contenedor">
        <div class="primary-title">
            Bienvenido
        </div>
        <div class="second-subtitle">
            ¡Bienvenido de nuevo! Por favor, introduzca sus datos.
        </div>
        <div class="formulario">
            <form [formGroup]="formLogin" (ngSubmit)="login()" autocomplete="off">
                <div class="form-input">
                    <input type="text" formControlName="nombre_usuario" placeholder="nombre de usuario" autocomplete="off">
                </div>
                <div class="form-input">
                    <input type="password" formControlName="password" placeholder="contraseña">
                </div>
                <div class="forgot">
                    <span>Recuperar contraña</span>
                </div>
                <div class="boton-login mt-3">
                    <button class="boton primario" type="submit" [disabled]="!formLogin.valid">Iniciar sesion</button>
                </div>

                <div class="register">
                    ¿No tienes una cuenta? <span (click)="showRegister()">Registrate gratis</span>
                </div>
            </form>
        </div>
    </div>
</div>
