<div class="primary-container">
    <div class="container">
        <div class="primary-title">
            Bienvenido
        </div>
        <div class="second-subtitle">
            Welcome back! Please enter your details.
        </div>
        <div class="formulario">
            <form>
                <div class="form-input">
                    <input type="text" placeholder="Email">
                </div>
                <div class="form-input">
                    <input type="text" placeholder="Password">
                </div>
                <div class="forgot">
                    <!-- TODO: agregar router link -->
                    <a>Recuperar contraña</a>
                </div>
                <div class="boton-login">
                    <button type="submit">Iniciar sesion</button>
                </div>

                <div class="register">
                    ¿No tienes una cuenta? <a>Registrate gratis</a>
                </div>
            </form>
        </div>
    </div>
</div>
