<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" (click)="redirectTo('home')">
        <img src="../../../assets/svg/logo.svg" width="24" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="redirectTo('home')">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="redirectTo('/movie')">Peliculas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">Accion</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Suspenso</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Ciencia ficcion</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="showAdmin">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Administracion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="redirectTo('/administration/peliculas')">Peliculas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="redirectTo('/administration/usuarios')">Usuarios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="redirectTo('/administration/categorias')">Categorias</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group mr-sm-2" *ngIf="viewSearch">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="../../../assets/svg/search.svg" alt="search">
                    </span>
                </div>
                <input type="text" class="form-control buscador" placeholder="Buscar..." aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <ul class="navbar-nav mr-auto" *ngIf="logueado">
                <li class="nav-item d-flex logout">
                    <a class="nav-link">{{user.nombre_usuario}}</a>
                    <img src="assets/svg/logout.svg" (click)="cerarSesion()" alt="salir">
                </li>
            </ul>
            <button *ngIf="!logueado" class="btn btn-outline-info my-2 my-sm-0 login" type="button"
                (click)="redirectTo('/auth')">
                Loguearse
            </button>
        </form>
    </div>
</nav>