<div class="primary-container">
    <div class="container">
        <div class="primary-title">
            Registro
        </div>
        <div class="second-subtitle">
            ¡Bienvenido al registro de usuario
        </div>
        <div class="formulario">
            <form [formGroup]="formRegistro" autocomplete="off" (ngSubmit)="registrarUsuario()">
                <div class="form-input">
                    <input type="text" formControlName="nombre_usuario" placeholder="Nombre de usuario">
                </div>
                <div class="form-input">
                    <input type="text" formControlName="email" placeholder="Email">
                </div>
                <div class="form-input">
                    <input type="password" formControlName="password" placeholder="Password">
                </div>
                <div class="boton-registro">
                    <button class="cancelar" type="button" (click)="navigateToLogin()">Cancelar</button>
                    <button type="submit" [disabled]="!formRegistro.valid">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>
