.contente-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    justify-items: center;
    gap: 16px;
    overflow-y: scroll;
    height: 79vh;
}

.contente-cards::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

.contente-cards::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
