<div class="contenedor-principal">
    <app-navbar [viewSearch]="false"></app-navbar>
    <div class="contenedor-secundario">
        <div class="informacion-sitio-web">
            <div class="primary-title">
                Las mejores peliculas las encuntras aqui
            </div>
            <div class="second-subtitle">
                Este es un sitio en donde encontraras y podras ver las 
                peliculas de forma gratituita y seguro
            </div>
            <div class="contenedor-boton">
                <div class="boton second-subtitle" routerLink="/movie">
                    <img src="../../../../assets/svg/play.svg" alt="play">
                    Ver peliculas
                </div>
            </div>
        </div>
    </div>
</div>
