/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$family: 'Poppins', sans-serif;

.primary-title{
    font-family: $family;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 46px;
    color: #FFFFFF;
}

.primary-subtitle{
    font-family: $family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.second-subtitle{
    font-family: $family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.boton{
    border: none;
    width: 100%;
    padding: 8px;
    font-family: $family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FCFCFC;
    border-radius: 5px;
    cursor: pointer;

    &:disabled{
        cursor: no-drop;
        opacity: 0.5;
    }
}

.primario{
    background-color: #BE123C;
}
.secundario{
    background-color: #535F77;
}
